<div class="container scientificcalc-container">
  <div class="display">
    <input id="screen" type="text" placeholder="0" />
  </div>

  <div class="btns">
    <div class="row">
      <button id="ce" class="botao-funcao" onclick="backspc()">⌫</button>
      <button class="botao-funcao" onclick="fact()">n!</button>
      <button class="botao-parenteses">(</button>
      <button class="botao-parenteses">)</button>
      <button class="botao-operador">%</button>
      <button id="ac" class="botao-funcao" onclick="screen.value=''">CE</button>
    </div>

    <div class="row">
      <button class="botao-funcao" onclick="sin()">sin</button>
      <button class="botao-constante" onclick="pi()">π</button>
      <button class="botao-numero">7</button>
      <button class="botao-numero">8</button>
      <button class="botao-numero">9</button>
      <button class="botao-operador">÷</button>
    </div>

    <div class="row">
      <button class="botao-funcao" onclick="cos()">cos</button>
      <button class="botao-constante" onclick="e()">e</button>
      <button class="botao-numero">4</button>
      <button class="botao-numero">5</button>
      <button class="botao-numero">6</button>
      <button class="botao-operador">×</button>
    </div>

    <div class="row">
      <button class="botao-funcao" onclick="tan()">tan</button>
      <button class="botao-funcao" onclick="sqrt()">√</button>
      <button class="botao-numero">1</button>
      <button class="botao-numero">2</button>
      <button class="botao-numero">3</button>
      <button class="botao-operador">-</button>
    </div>

    <div class="row">
      <button class="botao-funcao" onclick="log()">log</button>
      <button class="botao-funcao" onclick="pow()">x²</button>
      <button class="botao-numero">0</button>
      <button class="botao-numero">.</button>
      <button id="eval" class="botao-igual" onclick="screen.value=eval(screen.value)">=</button>
      <button class="botao-operador">+</button>
    </div>
  </div>
</div>
